<div class="card">
    <p class="blog-title"><a href="/post/{{id}}">{{post_title}}</a></p>
    <p>{{date_created}}</p>
    <p class="posted-by">Posted by {{user.name}}</p>


    <p>{{post_content}}</p>
    <div class="interaction-bar">
        <button class="view-comment-btn" id="{{id}}"> View Comments</button>
      
    </div>

    
    <div class="comment-section" id="comment-section">
        <div>
            <input class="create-comment" id="comment_{{id}}" type="text" placeholder="Create your own comment" />
            <button type="button" class="new-comment-form" id="comment_button_{{id}}">Create</button>
        </div>
        

        <div class="loaded-comments-container">
            {{#each comments as |comment|}}
            <p class="loaded-comments">{{user.name}}: {{comment.text}}</p>
            {{/each}}
        </div>
        
    </div>

</div>
