<div class="card">
        <p class="blog-title"><a href="/post/{{id}}"></a>{{post_title}}</p>
        <p>{{date_created}}</p>
        <p class="posted-by">Posted by {{user.name}}</p>


        <p>{{post_content}}</p>        
            <div class="interaction-bar">
            <button>View Comments</button>
            {{!-- <button>Upvote</button>
            <button>Downvote</button>
            <button>Save to reading list</button> --}}
             </div>

    {{!-- {{#if logged_in}} --}}
        <div class="comment-section" id="comment-section">
                    <div>
                        <input  class="create-comment" type="text" placeholder="Create your own comment" />
                        <button>Add Comment</button>     
                    </div>
            {{!-- {{/if}} --}}

                        <div class="loaded-comments-container">

                                {{#each comments as |comment|}}
                                
                                    <p class="loaded-comments">{{user.name}}: {{comment.text}}</p>
                
                                {{/each}}
                        </div>
            </div>

</div>